{{!-- <style>
    .modal-content {
      border-radius: 50px; /* You can adjust the value as needed */
    }
  </style> --}}

{{>header}}
<div class="container-fluid p-0">

{{!--  --}}
<div class="card" style="border: 0px;">
  <img src="/images/header-bg.png" class="card-img" alt="...">
  <div class="card-img-overlay fe" style="text-align: center;">
    <h5 class="card-title ">NOW YOU CAN FEEL THE HEAT</h5>
    <p class="card-text"><h1 class="jee">Smart New Future</h1></p>
     <button class=" btn btn-outline-light btn-xl"> BUY NOW</button>
  </div>
</div>
{{!--  --}}
{{!--  --}}
<div class="container-fluid gee">

  <div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6" style="text-align: center;">
      <h6 class="cee">BRAND NEW APP TO BLOW YOUR MIND</h6>
      <h1 class="cee1 mt-3">We’ve made a life<br>
that will change you</h1>
<h6 class="cee2 mt-3">We are here to listen from you deliver exellence</h6>
<h6 class="cee3 mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</h6>
<button class="btn btn-dark rounded-pill mt-3">GET STARTED NOW</button>
    </div>
    <div class="col-lg-6">
      <div class="card text-bg-dark mb-5 ms-5" style=" width: 80%; border: 0px;">
  <img src="/images/video-bg.png" class="card-img " alt="...">
  <div class="card-img-overlay">
    <a href="https://youtu.be/fIaws_cIHQU?si=UZqqOjN868aIHb4h"><img src="/images/play-icon.png" alt="" class="here"></a>
    
  </div>
</div>
    </div>

  </div>
</div>
</div>
{{!--  --}}
{{!--  --}}
{{!-- <div class="container-fluid back1">

 
     <div class="mtt">
    <h1 class="cee5"> Top Courses That are open for Students</h1>
<h6 class="fe3">Who are in extremely love with eco friendly system.</h6>
  </div>
 <div class="row mt-5">
  <div class="col-lg-4 col-sm-12 mt-5">
  
<div class="card ms-5"  style="background-color: transparent; border: 0px;">
  <i class="fa-solid fa-rocket fa-3x " style="color: #235EE9;"></i>
  <div class="card-body">
    <h5 class="card-title">High Performance</h5>
    <p class="card-text fg1">Lorem ipsum dolor sit amet, <br>consectetur adipisic ing elit,<br> seddo eiusmod tempor incid.idunt ut <br>labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="card mt-5 ms-5" style="background-color: transparent; border: 0px;">
  <i class="fa-solid fa-gear fa-3x" style="color: #235EE9;"></i>
  <div class="card-body">
    <h5 class="card-title">High Performance</h5>
    <p class="card-text fg1">Lorem ipsum dolor sit amet, <br>consectetur adipisic ing elit,<br> seddo eiusmod tempor incid.idunt ut <br>labore et dolore magna aliqua.</p>
  </div>
</div>
  </div>
  <div class="col-lg-4 col-sm-12 mt-5 mb-5 ">
    <img src="/images/c1.png" alt="">
  </div>

  <div class="col-lg-4 col-sm-12 mt-5">
    <div>
<div class="card"  style="background-color: transparent; border: 0px;">
<i class="fa-solid fa-building fa-3x" style="color: #235EE9;"></i>
  <div class="card-body">
    <h5 class="card-title">High Performance</h5>
    <p class="card-text fg1">Lorem ipsum dolor sit amet, <br>consectetur adipisic ing elit,<br> seddo eiusmod tempor incid.idunt ut <br>labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="card mt-5"  style="background-color: transparent; border: 0px;">
  <i class="fa-solid fa-phone fa-3x" style="color: #235EE9;"></i>
  <div class="card-body">
    <h5 class="card-title">High Performance</h5>
    <p class="card-text fg1">Lorem ipsum dolor sit amet, <br>consectetur adipisic ing elit,<br> seddo eiusmod tempor incid.idunt ut <br>labore et dolore magna aliqua.</p>
  </div>
</div>
    </div>
  </div>
</div>
</div> --}}
{{!--  --}}
{{!--  --}}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card  container" style="width: 100%; border: 0px;">
        <img src="/images/about-img.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-5">
      <h1 class="mt-5 ms-5 cee8 text-center text-lg-center">Globally Connected<br>by Large Network</h1>
      <h6 class="cee9 mt-3 ms-5 text-center text-lg-center">We are here to listen from you deliver excellence</h6>
      <h6 class="cee10 mt-3 ms-5 text-center text-lg-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit <br>amet, consectetur adipisicing elit, sed do eiusmod <br>tempor.</h6>
      <div style="text-align: center;"><button class="btn btn-outline-dark rounded-pill mt-3 ">GET DETAILS</button></div>
      
    </div>
  </div>
</div>
{{!--  --}}
{{!--  --}}
<div class="cee11">
  <div class="container">
    <div class="mtt">
    <h1 class="cee5">Some Features that Made us Unique</h1>
<h5 class="fe4">Who are in extremely love with eco friendly system.</h5>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 mb-4 mt-4">
<div class="card" style="background-color: #F9F9FF; border: 0px;">
  <div class="card-body">
    <h4><i class="fa-regular fa-user"></i> Expert Technicians</h4>
    <p class="free mt-4">
		Usage of the Internet is becoming more<br> common due to rapid advancement of <br>technology and power.
		</p>
    
  </div>
</div>
 </div>

    <div class="col-lg-4 mb-4 mt-4">
      <div class="card" style="background-color: #F9F9FF; border: 0px;">
  <div class="card-body">
    <h4><i class="fa-solid fa-id-card"></i> Professional Service</h4>
    <p class="free mt-4">
		Usage of the Internet is becoming more<br> common due to rapid advancement of <br>technology and power.
		</p>
    
  </div>
</div>
</div>
    <div class="col-lg-4 mb-4 mt-4">
      <div class="card " style="background-color: #F9F9FF; border: 0px;">
  <div class="card-body">
    <h4><i class="fa-solid fa-tty"></i> Great Support</h4>
    <p class="free mt-4">
		Usage of the Internet is becoming more<br> common due to rapid advancement of <br>technology and power.
		</p>
    
  </div>
</div>
    </div>
    <div class="col-lg-4 mb-4 mt-4">
     <div class="card" style="background-color: #F9F9FF; border: 0px;">
  <div class="card-body">
    <h4><i class="fa-solid fa-rocket"></i> Technical Skills</h4>
    <p class="free mt-4">
		Usage of the Internet is becoming more<br> common due to rapid advancement of <br>technology and power.
		</p>
    
  </div>
</div>
    </div>
    <div class="col-lg-4 mb-4 mt-4">
      <div class="card " style="background-color: #F9F9FF; border: 0px;">
  <div class="card-body">
    <h4><i class="fa-regular fa-gem"></i> Highly Recomended</h4>
    <p class="free mt-4">
		Usage of the Internet is becoming more<br> common due to rapid advancement of <br>technology and power.
		</p>
    
  </div>
</div>
    </div>
    <div class="col-lg-4 mb-4 mt-4">
      <div class="card" style="background-color: #F9F9FF; border: 0px;">
  <div class="card-body">
    <h4><i class="fa-regular fa-message"></i> Positive Reviews</h4>
    <p class="free mt-4">
		Usage of the Internet is becoming more<br> common due to rapid advancement of <br>technology and power.
		</p>
    
  </div>
</div>
    </div>

  </div>
  </div>
</div>
{{!--  --}}
{{!--  --}}
<div class="cee14">
  <div class="container">
    <div class="mtt text-center">
      <h1 class="cee29">Our Products</h1>
      <h5 class="cee30">Who are in extremely love with the eco-friendly system.</h5>
    </div>

    <div class="row justify-content-center">
      {{#each products}}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5 d-flex justify-content-center">
          <div class="container-fluid mt-5">
            <div class="card" style="width: 18rem;">
              <img src="data:image/*;base64,{{ base64Image }}" alt="{{ productName }}" class="card-img-top" style="width: 285px; height: 250px;">
              <div class="card-body text-center">
                <h5 class="card-title">{{ productName }}</h5>
                <p class="card-text">Category: {{ category }}</p>
                <p class="card-text">Quantity: {{ quantity }}</p>
                <p class="card-text">Amount: ${{ amount}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{!--  --}}

</div>

{{>footer}}


<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Product Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <div id="productGallery" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/fasttrack.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/images/p81.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/images/p82.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/images/p84.jpg" class="d-block w-100" alt="Image 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#productGallery" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productGallery" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="product-details">
              <h3>Fastrack Revoltt FS1</h3>
              <p class="price">$72.00</p>
              <button class="add-to-cart btn btn-outline-success">Add to Cart</button>
              <div class="rating">⭐⭐⭐⭐⭐</div>
              <p class="description">World's First, 1.96" Super AMOLED | Highest Resolution | BT Calling Smartwatch (Black Strap, Free Size)</p>
              <p class="availability">In Stock</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Product Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <div id="productGallery1" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/fasttrackrev.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/images/p71.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/images/p72.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/images/p73.jpg" class="d-block w-100" alt="Image 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#productGallery1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productGallery1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="product-details">
              <h3>Fastrack Revoltt FS1 Pro</h3>
              <p class="price">$72.00</p>
              <button class="add-to-cart btn btn-outline-success">Add to Cart</button>
              <div class="rating">⭐⭐⭐⭐⭐</div>
              <p class="description">World's First, 1.96" Super AMOLED | Highest Resolution | BT Calling Smartwatch (Black Strap, Free Size)</p>
              <p class="availability">In Stock</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Product Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <div id="productGallery2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/firebolt.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/images/p61.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/images/p62.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/images/p63.jpg" class="d-block w-100" alt="Image 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#productGallery2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productGallery2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="product-details">
              <h3>Fire-Boltt Ninja Pro Plus</h3>
              <p class="price">$75.00</p>
              <button class="add-to-cart btn btn-outline-success">Add to Cart</button>
              <div class="rating">⭐⭐⭐⭐⭐</div>
              <p class="description">1.83 inch Display Smartwatch Bluetooth Calling, AI Voice Smartwatch  (Silver Strap, Free Size)</p>
              <p class="availability">In Stock</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Product Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <div id="productGallery3" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/noise.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/images/p51.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/images/p52.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/images/p53.jpg" class="d-block w-100" alt="Image 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#productGallery3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productGallery3" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="product-details">
              <h3>Noise Colorfit Icon 2</h3>
              <p class="price">$67.55</p>
              <button class="add-to-cart btn btn-outline-success">Add to Cart</button>
              <div class="rating">⭐⭐⭐⭐⭐</div>
              <p class="description">1.8'' Display with Bluetooth Calling, AI Voice Assistant Smartwatch  (Glossy Black Strap, Regular)</p>
              <p class="availability">In Stock</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Product Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <div id="productGallery4" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/samsung.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/images/p41.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/images/p42.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/images/p43.jpg" class="d-block w-100" alt="Image 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#productGallery4" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productGallery4" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="product-details">
              <h3>SAMSUNG Watch 4</h3>
              <p class="price">$88.55</p>
              <button class="add-to-cart btn btn-outline-success">Add to Cart</button>
              <div class="rating">⭐⭐⭐⭐⭐</div>
              <p class="description">LTE 46mm Super AMOLED LTE Calling with Body Composition Tracking  (Black Strap, Free Size)</p>
              <p class="availability">In Stock</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Product Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <div id="productGallery5" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/firebolt2.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/images/p31.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/images/p32.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/images/p33.jpg" class="d-block w-100" alt="Image 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#productGallery5" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productGallery5" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="product-details">
              <h3>Boult Mirage</h3>
              <p class="price">$69.55</p>
              <button class="add-to-cart btn btn-outline-success">Add to Cart</button>
              <div class="rating">⭐⭐⭐⭐⭐</div>
              <p class="description">1.39" Screen, BT Calling, Working Crown, Zinc Alloy Frame, 500 Nits, SpO2 Smartwatch  (Coal Black Strap, Free Size)</p>
              <p class="availability">In Stock</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Product Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <div id="productGallery6" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/boat.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/images/p21.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/images/p22.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/images/p23.jpg" class="d-block w-100" alt="Image 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#productGallery6" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productGallery6" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="product-details">
              <h3>boAt Lunar Connect </h3>
              <p class="price">$72.55</p>
              <button class="add-to-cart btn btn-outline-success">Add to Cart</button>
              <div class="rating">⭐⭐⭐⭐⭐</div>
              <p class="description"> Connect with ENx Technology for BT Calling & 1.28 HD Round Display Smartwatch  (Green Strap, Free Size)</p>
              <p class="availability">In Stock</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Product Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <div id="productGallery7" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/firebolt3.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item">
                  <img src="/images/p11.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item">
                  <img src="/images/p12.jpg" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item">
                  <img src="/images/p13.jpg" class="d-block w-100" alt="Image 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#productGallery7" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productGallery7" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="product-details">
              <h3>Fire-Boltt Talk 1 </h3>
              <p class="price">$79.55</p>
              <button class="add-to-cart btn btn-outline-success">Add to Cart</button>
              <div class="rating">⭐⭐⭐⭐⭐</div>
              <p class="description">28"Bluetooth Calling with SpO2, Metal Body & Luxury Design Smartwatch  (Teal Strap, 46)</p>
              <p class="availability">In Stock</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- ... (unchanged) ... -->
      </div>
    </div>
  </div>
</div>