
<style>
  body{
    background-image: url(/images/bg41.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
  }
</style>


{{>header3}}

  <div class="container">
    <div class="mtt text-center">
      <h1 class="cee29">Our Products</h1>
     
    </div>

    <div class="row justify-content-center">
      {{#each products}}
        <div class="col-lg-4 d-flex mb-5">
          <div class="container-fluid mt-5">
            <div class="card" style="width: 18rem;">
              <img src="data:image/*;base64,{{ base64Image }}" alt="{{ productName }}" class="card-img-top" style="width: 285px; height: 250px;">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">{{ productName }}</h5>
                <p class="card-text">Category: {{ category }}</p>
                <p class="card-text">Quantity: {{ quantity }}</p>
                <p class="card-text">Amount: ${{ amount}}</p>

                {{#if quantity}}
                  <p class="card-text text-success">In Stock</p>
                  
                {{else}}
                  <p class="card-text text-danger">Out of Stock</p>
                  
                {{/if}}

              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>



